# python==3.10
sphinx==4.5.0
requests==2.32.3
matplotlib
# sphinx-book-theme
sphinx-book-theme==0.3.3
sphinx-togglebutton==0.3.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
ipython==8.26.0
#sphinx_design
#sphinx-carousel