sphinx
requests
matplotlib
sphinx-book-theme
sphinx-togglebutton
sphinx_design==0.6.1
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-serializinghtml
sphinxcontrib-qthelp
ipython

